@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Github Feature and Master Branch</h1>
    <p>Testing with Linux server deploy IIS</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Follow this Link to deploy IIS <a href="https://www.youtube.com/watch?v=TezpuwJWPOk&ab_channel=thecodepoet"> Github Actions Deploy to IIS</a><p>
</div>
